header {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 96px auto 20px;
    position: relative;
}

.texto {
    grid-column: 3/6;
    grid-row-start: 3;
    z-index: 1;
}

header > img {
    grid-column: 1/7;
    grid-row-start: 3;
    width: 25%;
}


section {
    background: linear-gradient(#002b4b, rgb(0, 0, 0));
    color: #fff;
    padding: 4%;
    text-align: center;
    padding: 10%;
}