main {
    height: 100%;
    width: 100%;
    background: linear-gradient(#002b4b, #000);
    text-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding: 7% 19%;
}
html{
    overflow-y: scroll;
}