.box {
    background-color: #2e3136;
    position: absolute;
    align-items: center;
    width: 75%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fr {
    display: block;
    background-color: #59606d;
    border: none;
    height: 33px;
    width: 300px;
    

}

.space{
    padding-top: 5%;
}

.letra{
    font-size: 30px;
}

.frm{
    padding: 3% 0% 4% 7%;
    
}

.bts{
    position: relative;
    left: 65%;
}